<nav class="page-nav">
    <span class="page-name"><i class="glyphicons glyphicons-cogwheel fn-mr-5"></i><strong>开放平台管理</strong></span>
    <ul class="nav navbar-nav navbar-left">
        <li><a href="open/" id="page_nav_1">企业管理</a></li>
        <li class="dropdown" data-tab="hoverdown">
            <a href="javascript:void(0);" data-toggle="dropdown" role="button" id="page_nav_2">
                游戏管理 <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="open/baseInfo">基础资料列表</a></li>
                <li><a href="open/gameDocked">游戏对接管理</a></li>
                <li><a href="open/gameGift">游戏礼包管理</a></li>
                <li><a href="open/eventList">运营事件管理</a></li>
            </ul>
        </li>
        <li class="dropdown" data-tab="hoverdown">
            <a href="javascript:void(0);" data-toggle="dropdown" role="button" id="page_nav_3">
                财务中心 <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="finance/contract">合同管理</a></li>
                <li><a href="finance/checkBill">对账单管理</a></li>
                <li><a href="finance/settlement">结算单管理</a></li>
            </ul>
        </li>
    </ul>
</nav>