<div class="pagination">
    <div class="pagination-info pull-left" id="pagination_info">
        显示<b>10</b>条/页，总共<b>100</b>条
        <span class="custom-select">
            <select id="custom_total" class="form-control">
                <option value="10">10条</option>
                <option value="20">20条</option>
                <option value="30">30条</option>
                <option value="50">50条</option>
            </select>/页
        </span>
    </div>
    <a href="#">首页</a>
    <a href="#">上一页</a>
    <a href="#" class="active">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">下一页</a>
    <a href="#">尾页</a>
</div>