<div class="sidebar">
    <ul class="nav nav-sidebar" id="sidebar">
        <li id="side_1">
            <a href="/" data-control="side_1">
                <span>数据统计</span>
                <i class="i-global i-side-1"></i>
            </a>
        </li>
        <li id="side_2">
            <a href="###" data-control="side_2">
                <span>游戏收入</span>
                <i class="i-global i-side-2"></i>
            </a>
        </li>
        <li id="side_3">
            <a href="open/" data-control="side_3">
                <span>SDK管理</span>
                <i class="i-global i-side-3"></i>
            </a>
        </li>
        <!--<li id="side_4">
            <a href="###" data-control="side_4">
                <span>菜单之四</span>
                <i class="i-global i-side-4"></i>
            </a>
        </li>-->
    </ul>
</div>