/*
Version: 3.2 Timestamp: Mon Sep 10 10:38:04 PDT 2012
*/
.select2-container {
    position: relative;
    display: inline-block;
    /* inline-block for ie7 */
    zoom: 1;
    *display: inline;
    vertical-align: top;
}
.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    box-sizing: border-box;
}
.select2-container .select2-choice{ height: 34px; padding: 6px 12px;}
.select2-container .select2-choice, .select2-container-multi .select2-choices{
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.select2-container.select2-drop-above .select2-choice {
    border-bottom-color: #aaa;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    background: #FFF;
}
.select2-container .select2-choice span {
    margin-right: 26px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.select2-search-choice-close,
.select2-container .select2-choice abbr,
.select2-search input{ background-image: url('../images/select2.png'); background-repeat: no-repeat}
.select2-container .select2-choice abbr {
    display: block;
    position: absolute;
    right: 26px;
    top: 8px;
    width: 12px;
    height: 12px;
    font-size: 1px;
    background-position: right top;
    cursor: pointer;
    text-decoration: none;
    border: 0;
    outline: 0;
}
.select2-container .select2-choice abbr:hover { background-position: right -11px; cursor: pointer;}
.select2-drop {
    background: #fff;
    color: #333;
    border: 1px solid #ccc;
    border-top: 0;
    position: absolute;
    top: 100%;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    -o-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    z-index: 9999;
    width: 100%;
    margin-top: -1px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}
.select2-drop.select2-drop-above {
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    margin-top: 1px;
    border-top: 1px solid #aaa;
    border-bottom: 0;
    -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
    -o-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
    box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
}
.select2-container .select2-choice div {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: absolute;
    right: 15px;
    top: 15px;
    display: block;
    width: 4px;
    height: 4px;
}
.select2-container .select2-choice div b {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    -webkit-transition: -webkit-transform .2s linear;
    -moz-transition: -moz-transform .2s linear;
    -o-transition: -o-transform .2s linear;
    transition: transform .2s linear;
}
.select2-search {
    display: block;
    white-space: nowrap;
    z-index: 10000;
    min-height: 26px;
    width: 99%;
    margin: 0 auto;
    padding-left: 4px;
    padding-right: 4px;
}
.select2-search-hidden { display: block; position: absolute; left: -10000px;}
.select2-search input {
    background-position: right -32px;
    padding: 4px 20px 4px 5px;
    outline: 0;
    border: 1px solid #acacac;
    font-family: sans-serif;
    font-size: 1em;
    width: 100%;
    margin: 0;
    height: auto !important;
    min-height: 26px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.select2-drop.select2-drop-above .select2-search input { margin-top: 4px;}
.select2-search input.select2-active { background-color: #fff;}
.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    -webkit-box-shadow: 0 0 8px rgba(102, 175, 233, .6);
    -moz-box-shadow: 0 0 8px rgba(102, 175, 233, .6);
    -o-box-shadow: 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: 0 0 8px rgba(102, 175, 233, .6);
    border: 1px solid #66afe9;
    outline: none;
}
.select2-dropdown-open .select2-choice {
    border: 1px solid #ccc;
    border-bottom-color: transparent;
    -webkit-box-shadow: 0 1px 0 #fff inset;
    -moz-box-shadow: 0 1px 0 #fff inset;
    -o-box-shadow: 0 1px 0 #fff inset;
    box-shadow: 0 1px 0 #fff inset;
    background-color: #fff;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.select2-dropdown-open .select2-choice div { background: transparent; border-left: none;}
.select2-dropdown-open .select2-choice div b {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
/* results */
.select2-results {
    margin: 4px 4px 4px 0;
    padding: 0 0 0 4px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 160px;
}
.select2-results ul.select2-result-sub { margin: 0 0 0 0;}
.select2-results ul.select2-result-sub > li .select2-result-label { padding-left: 20px;}
.select2-results ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 40px;}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 60px;}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 80px;}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 100px;}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 110px;}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 120px;}
.select2-results li { list-style: none; display: list-item;}
.select2-results li.select2-result-with-children > .select2-result-label { font-weight: bold;}
.select2-results .select2-result-label { padding: 3px 7px 4px; margin: 0; cursor: pointer;}
.select2-results .select2-highlighted { background: #3598db; color: #fff;}
.select2-results li em { background: #feffde; font-style: normal;}
.select2-results .select2-highlighted em { background: transparent;}
.select2-results .select2-no-results, .select2-results .select2-searching,
.select2-results .select2-selection-limit { background: #f4f4f4; display: list-item;}
.select2-results .select2-disabled { display: none;}
.select2-more-results.select2-active { background-color: #f4f4f4;}
.select2-more-results { background: #f4f4f4; display: list-item;}
/* disabled styles */
.select2-container.select2-container-disabled .select2-choice {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}
.select2-container.select2-container-disabled .select2-choice div { background-color: #f4f4f4; background-image: none; border-left: 0;}
/* multiselect */
.select2-container-multi .select2-choices {
    cursor: text;
    min-height: 34px;
    padding: 3px 5px;
    position: relative;
    margin-bottom: -1px;
    *zoom: 1;
}
.select2-container-multi .select2-choices:before, .select2-container-multi .select2-choices:after{ content: " "; display: table;}
.select2-container-multi .select2-choices:after{ clear:both;}
.select2-container-multi.select2-container-active .select2-choices {
    -webkit-box-shadow: 0 0 8px rgba(102, 175, 233, .6);
    -moz-box-shadow: 0 0 8px rgba(102, 175, 233, .6);
    -o-box-shadow: 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: 0 0 8px rgba(102, 175, 233, .6);
    border: 1px solid #66afe9;
    outline: none;
}
.select2-container-multi.select2-dropdown-open .select2-choices{
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.select2-container-multi .select2-choices li { float: left; list-style: none;}
.select2-container-multi .select2-choices .select2-search-field { white-space: nowrap; margin: 0; padding: 0;}
.select2-container-multi .select2-choices .select2-search-field input {
    color: #666;
    background: transparent !important;
    font-family: inherit;
    font-size: 100%;
    height: 26px;
    line-height: 26px;
    padding: 0 5px;
    margin: 1px 0;
    outline: 0;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
.select2-container-multi .select2-choices .select2-search-field input.select2-active { background-color: #fff;}
.select2-default { color: #999!important;}
.select2-container-multi .select2-choices .select2-search-choice {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #3598db;
    color: #d3ebfc;
    border: 1px solid #1e84c9;
    line-height: 13px;
    padding: 3px 5px 3px 18px;
    margin: 3px 0 3px 5px;
    position: relative;
    cursor: default;
}
.select2-container-multi .select2-choices .select2-search-choice span { cursor: default;}

.select2-container-multi .select2-choices .select2-search-choice-focus { background: #d4d4d4;}
.select2-search-choice-close {
    background-position: right top;
    display: block;
    position: absolute;
    right: 3px;
    top: 3px;
    width: 12px;
    height: 13px;
    font-size: 1px;
    outline: none;
    opacity: .4;
}
.select2-container-multi .select2-search-choice-close { left: 3px;}
.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover,
.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close { background-position: right -11px;}
/* disabled styles */
.select2-container-multi.select2-container-disabled .select2-choices {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
    background-image: none;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 3px 5px 3px 5px;
}
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close { display: none;}
/* end multiselect */
.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-result-selectable .select2-match { text-decoration: underline;}
.select2-result-unselectable .select2-match { text-decoration: none;}
.select2-offscreen { position: absolute; left: -10000px;}